extends ../layout

block content
	div.main
		h1 Bienvenido #{user}
		p Tu cuenta de Dropbox ahora esta enlazada
	br
	div(style='margin: 0 auto;width:863px')
		h2 Archivos
		ul
			each song in songs
				li
					a(onClick="playSong(this)") #{song}
	br
	br
	div#player