doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title RockolApp
    block css
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel="stylesheet", href="/styles/custom.css")
      link(rel="stylesheet", href="/js/components/music-player/plugin/css/style.css")
    block js
      script(src='http://localhost:35729/livereload.js')
    block favicon
      link(rel='shortcut icon', href='/img/favicon.ico')
  body
    block content
    script(src="/js/components/jquery/dist/jquery.js")
    script(src="/js/main.js")